{% extends 'salute_basic/base.html' %}
{% load static %}


{% block titulo %}
    <h1>.</h1>
{% endblock titulo %}
    


{% block separador %}
    <h1>××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××</h1>
{% endblock separador %}
 
{% block separador2 %}
    <h1>××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××</h1>      
{% endblock separador2 %}   

{% block separador3 %}
    <h1>××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××</h1>      
{% endblock separador3 %}   



